#landing{
    align-content: center;
}
#landing input{
    width: 20%;
    margin-bottom: 0.5%;
}

#landing .extScrn{
    width: auto;
}

#landing input[type="submit"]:disabled{
    background: grey;
    border:none;
}


#questions .question{
    font-weight: bold;
}
#questions .hint{
    margin-top: 2%;
    font-size: large;
}
#questions .response{
    margin: 2% 0;
}
#questions .response .btn{
    margin-left: 2%;
    height: 6vh;
    font-weight: bold;
}
#result{
    font-size: 300%;
    font-weight: bolder;
}

#result svg{
    height: 40vh;
    width: auto;
}

#result .accepted{
    color: green;
}

#result .denied{
    color: RED;
}

#result .disclaimers{
    font-size: large;
    font-weight: normal;
}

@media only screen and (max-width: 600px){
    #registeration input{
        width: 80%;    
    }    
    #result{
        font-size: 200%;
    }
    #result svg{
        height: 20vh;
    }
}